@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    overflow: hidden;
    height: 0;
  }
  .noprint {
    visibility: hidden;
  }
  @page {
    size: portrait;
  }
}
